.center {
  text-align: center !important;
}

td {
  white-space: nowrap;
}
img {
  width: 1.2em;
}

.caption {
  display: flex;
  flex-flow: wrap column;
  height: 9em;
  overflow: auto;
  font-size: 0.8em;
}
.caption li {
  display: flex;
  align-items: center;
  margin-right: 0.8em;
}
.caption li img,
.caption li strong {
  margin-right: 0.8em;
}

thead tr th,
a {
  cursor: pointer;
}

table .average {
  font-size: 0.8em;
}

.possible-link td a {
  color: wheat;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 1em;
}

.table-trophies img {
  max-width: fit-content;
}

.imgSmall {
  width: 0.8em;
}
