.center {
  text-align: center !important;
}

td {
  white-space: nowrap;
}
img {
  width: 1.2em;
}

.caption {
  display: flex;
  flex-flow: wrap column;
  max-height: 11em;
  overflow: auto;
}
.caption li {
  display: flex;
  align-items: center;
}
.caption li img,
.caption li strong {
  margin-right: 0.8em;
}

thead tr th,
a {
  cursor: pointer;
}

table .average {
  font-size: 0.8em;
}

.possible-link td a {
  color: wheat;
}
